@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  display: flex;
  background-color: #ffdfd4;
  flex-direction: column;
  align-items: center;
  font-family: "Amaranth", sans-serif;
  width: 100%;
  padding-top: 15%;
  color: #2c2522;
}

#excuse {
  font-size: 80px;
}
button {
  width: 15%;
  height: 50px;
  color: #000000;
  background-color: #99491b;
  border-radius: 10px;
}
button:hover {
  background-color: #d1789a;
  color: #ffffff;
  cursor: not-allowed;
}
