@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  display: flex;
  background-color: #e9c3b6;
  flex-direction: column;
  align-items: center;
  font-family: "Amaranth", sans-serif;
  width: 100%;
  padding-top: 15%;
  color: #2c2522;
}

#excuse {
  font-size: 80px;
}
button {
  width: 15%;
  color: #000000;
  background-color: #b45924;
}
button:hover {
  background-color: #8d4a6f;
  color: #ffffff;
  cursor: not-allowed;
}
